* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.top {
    display: flex;
    justify-content: space-between;
}
h1#time {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin-top: -30%;
}
div#crypto {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
div#crypto-top > span {
    margin-left: 10px;
}
div#crypto > p {
    margin: 0;
    font-size: 1rem;
}
#search {
    margin-top: 1.4rem;
    border: none;
    border-bottom: 2px solid #ffff;
    outline: none;
    background: transparent;
    color: #ffff;
    font-size: 1.2rem;
    padding: .5rem 0 .1rem 0;
    margin-bottom: 20px;
    width: 300px;
}
#search::placeholder {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: thin;
}
div#weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
}
div#weather > img {
    width: 100px;
}
p.weather-city {
    width: 100%;
    text-align: right;
    margin-top: -20px;
}
p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}